# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.ipynb_checkpoints

# Virtual env
.venv/
env/
venv/

# Data
data/raw/*
data/processed/*
*.csv
*.tsv

# Models / outputs
*.bin
*.pt
*.pth
*.ckpt
*.safetensors
models/*

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# IDE
.vscode/
.idea/
